@charset "UTF-8";

body,
html {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 17px;
    line-height: 1.5;
    overflow-x: hidden;
}

/*ファーストビュー画像*/
.img-top {
    position: relative;
    background: url(../img/main.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.wrap-img-text {
    position: absolute;
    width: 52.5%;
    top: 41.5%;
    left: 7.5%;
}

.wrap-img-text img {
    width: 100%;
}
